<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div style="text-align: center">
    <h1 class="display-4 text-primary">Sri Lankan Cricketers</h1>
  </div>
      <form action="http://localhost:5000/" method="post">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <input class="form-control" type="text" name="query" placeholder="Enter Search Phrase" />
            </div>
            <div class="col-sm-2">
                <button class="form-control bg-primary" type="submit" class="btn">Submit</button>
            </div>
        </div>
      </form>


  <div class="row justify-content-center">
    <div class="col-sm-8">
        {% for each in players %}
            <div class="card bg-secondary border-dark mb-3">
                <div class="card-body" style="font-size: 12px;">
                    <ul class="list-group list-group-flush">
                        {% for key, value in each.items() %}
                            <li class="list-group-item bg-secondary" style="height: 40px;">
                                <span class="text-dark font-weight-bold">{{ key }} :</span>
                                <span class="text-white">{{ value }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>